body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

#locationInput {
    width: 70%;
    padding: 10px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
}

#weatherInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loading-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loading-container img {
    width: 50px;
    /* Adjust the width as needed */
}
